<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-accueil">
    <div class="container-fluid">
        <button class="btn-theme" id="whiteTheme"> <img src="public/images/circle-half.png" width="30" height="30"
                class="d-inline-block align-top" alt="kikbook-logo"></button>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
            </ul>
            <ul class="ml-auto navbar-nav" style="margin-right:30px;">
            </ul>
        </div>
    </div>
</nav>